<div class="col-lg-12 mb-4 post-account-page" id={{id}}>
  <div class="card-body-2">
    <h1 class="card-title1 post-title-card" id={{id}} data-bs-toggle="modal" data-bs-target="#exampleModal">{{title}} | Posted:{{date}}</h1>
  </div>
</div>