<!-- Loop over each object in the projects array -->
<H1>Welcome to the Tech Blog</H1>

<div>
    {{#if logged_in}}
        {{#if post}}
        {{#each post as |post|}}
        {{>all-posts}}
        {{/each}}
        {{/if}}
        {{else}}
        <h3>Looks like you aren't logged in! Log in <a href="/login">here</a> to get started</h3>
    {{/if}}
</div>

<div class="modal fade" id="homepageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-homepage">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-btn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="./js/new-comment.js"></script>